@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 40px;
  background-color: #273329;
}
#ques{
  color:#4f7054;
}
.text {
 position: relative;
  height: 90vh;
  width: 100%;
  
  
}

p {

}

.word {
  position: absolute;
  text-align: center;
  opacity: 0;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center both horizontally and vertically */
  padding: 0px;
  width: auto;
  word-wrap: break-word;
  white-space: pre-wrap;
  font-size: 26px;
}

.letter {
  display: inline-block;
  position: relative;
  float: left;
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}

.letter.out {
  transform: rotateX(90deg);
  transition: transform 0.42s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
  transform: rotateX(-90deg);
}

.letter.in {
  transform: rotateX(0deg);
  transition: transform 0.48s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.wisteria {
  color: #8e44ad;
}

.belize {
  color: #2980b9;
}

.pomegranate {
  color: #c0392b;
}

.green {
  color: #16a085;
}

.midnight {
  color: #2c3e50;
}


